@import '../../app/page.module';

.shutter {
    position: fixed;
    width: 130vw;
    height: 500vh;
    background-color: #2d2722;
    z-index: 99;
    pointer-events: none;
    top: -50%;
    left: -150vw;
    box-shadow: 0px 0px 62px -18px black;
    transform: rotate(-45deg);
    transition: 0.8s;
}
.titleTransition {
    position: fixed;
    width: 100%;
    margin: 0;
    pointer-events: none;
    bottom: 40vh;
    font-weight: 300;
    color: $beige-light;
    text-align: center;
    font-size: 200px;
    line-height: 275px;
    font-family: 'Bethany';
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

.transition {
    left: 0px;
    transform: rotate(0deg);
}

.fade {
    opacity: 1;
}
@media screen and (max-width: 800px) {
    .shutter {
        transform: rotate(-45deg);
        width: 130vw;
        height: 500vh;
    }
    .titleTransition {
        font-size: 20vw;
    }
    .transition {
        left: 0px;
        transform: rotate(0deg);
    }
}
