$green: #b3d99b;
$dark-green: #a5ba8a;
$pink: #ffbcdc;
$beige-light: #ffd7af;
$beige: #ffc692;
$white: #faf9f6;
$main-color: #ef7e60;
$grey: #3b3b3b;
@font-face {
    font-family: 'Bethany';
    src: url('../../public/assets/Bethany.ttf');
}
@font-face {
    font-family: 'Rouge Script';
    src: url('../../public/assets/RougeScript-Regular.ttf');
}
@font-face {
    font-family: 'Luimp';
    src: url('../../public/assets/Luimp.otf');
}
@font-face {
    font-family: 'Luimp';
    src: url('../../public/assets/LuimpBold.otf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.title {
    padding: 30px 0;
    margin: 0;
}
.shutter {
    position: fixed;
    width: 130vw;
    height: 500vh;
    background-color: $beige;
    z-index: 99;
    pointer-events: none;
    top: -50%;
    left: -150vw;
    box-shadow: 0px 0px 62px -18px black;
    transform: rotate(-45deg);
    transition: 0.8s;
}
.titleTransition {
    position: fixed;
    width: 100%;
    margin: 0;
    pointer-events: none;
    top: 40vh;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 200px;
    font-family: 'Bethany';
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
}

.transition {
    left: 0px;
    transform: rotate(0deg);
}

.fade {
    opacity: 1;
}
.main {
    background-color: transparent;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 450px;
    box-shadow: 0px 16px 15px 0px rgba(0, 0, 0, 0.2);

    .principal {
        background-color: $white;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0%;
        pointer-events: none;
        position: absolute;
        transition: 0.5s;
    }
    .line {
        overflow: hidden;
        width: 1950px;
        top: 500px;
        margin: 0 auto;
        position: absolute;
        pointer-events: none;
        z-index: 1;

        path {
            stroke: $main-color !important;
            width: 100%;
            z-index: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .main {
        .line {
            width: 1200px;
        }
    }
    .shutter {
        transform: rotate(-45deg);
        width: 130vw;
        height: 500vh;
    }
    .titleTransition {
        top: 50vh;
        font-size: 50px;
    }
    .transition {
        left: 0px;
        transform: rotate(0deg);
    }
}
