$green: #88d394;
$dark-green: #119513;
$pink: #f9877b;
$light-pink: #fabdb5;
$white: #faf9f6;

@font-face {
    font-family: 'Bethany';
    src: url('../../public/assets/Bethany\ Script\ Dafont.ttf');
}
/***********config lenis*************/
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
/***********config lenis*************/
.title {
    padding: 30px 0;
    margin: 0;
}
.shutter {
    position: fixed;
    width: 130vw;
    height: 500vh;
    background-color: #141516;
    z-index: 99;
    pointer-events: none;
    top: -50%;
    left: -150vw;
    box-shadow: 0px 0px 62px -18px black;
    transform: rotate(-45deg);
    transition: 0.8s;
}
.transition {
    left: 0px;
    transform: rotate(0deg);
}

.titleTransition {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 40vh;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 200px;
    font-family: 'Bethany';
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
}
.fade {
    opacity: 1;
}
.main {
    background-color: $white;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .principal {
        background-color: $white;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0%;
        pointer-events: none;
        position: absolute;
        transition: 0.5s;
    }
    .line {
        overflow: hidden;
        width: 1950px;
        top: 500px;
        margin: 0 auto;
        position: absolute;
        pointer-events: none;

        path {
            stroke: $light-pink !important;
            width: 100%;
            z-index: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .main {
        .line {
            width: 1200px;
        }
    }
    .shutter {
        transform: rotate(-45deg);
        width: 130vw;
        height: 500vh;
    }
    .titleTransition {
        top: 50vh;
        font-size: 50px;
    }
    .transition {
        left: 0px;
        transform: rotate(0deg);
    }
}
