@import '../../app/page.module.scss';
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100vw;
    background-color: #141516;
    position: fixed;
    top: -100px;
    left: 0;

    z-index: 999;
    padding-top: 100px;
    flex-direction: column;
    pointer-events: all;
    svg {
        overflow: visible;
        path {
            overflow: hidden;
            visibility: hidden;
        }

        path:nth-child(12) {
            stroke-dashoffset: 800;
            stroke-dasharray: 800;
            animation: dash 2s linear forwards;
            animation-delay: 0.5s;
        }
    }
    svg:nth-child(2) {
        width: 300px;
        height: 100px;
    }
    @keyframes dash {
        from {
            stroke-dashoffset: 800;
        }
        to {
            stroke-dashoffset: 1600;
        }
    }
}
@media screen and (max-width: 800px) {
    .preloader {
        svg:first-child {
            width: 150px;
            height: 150px;
        }
        svg:nth-child(2) {
            width: 150px;
            height: 50px;
        }
    }
}
