@import '../../app/page.module';

.header {
    position: absolute;
    display: flex;
    z-index: 50;
    top: 0;
    color: white;
    padding: 15px 75px;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;

    .nav {
        display: flex;
        align-items: center;
        gap: 50px;

        .linkContainer {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: center;
            position: relative;
            a,
            a:visited {
                text-decoration: unset;
                color: rgb(0, 0, 0);
                font-size: 40px;
                font-weight: 500;
                position: relative;
                font-family: 'Bethany';
            }
            &:hover {
                cursor: pointer;
            }
            .activeDot {
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: black;
                border-radius: 50%;
                margin: 0 auto;
                bottom: -10px;
            }
        }
    }
}

.containerButton {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    right: 0;
    width: 65px;
    height: 65px;
    z-index: 51;
    transform: scale(0);
}

.button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 99;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    background-color: $main-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 0 0 0 black;
    .burger {
        width: 100%;

        &:before,
        &:after {
            content: '';
            display: block;
            background-color: white;
            width: 40%;
            height: 3px;
            position: relative;
            margin: auto;
            transition: 0.3s;
        }
        &:before {
            top: -5px;
        }
        &:after {
            top: 5px;
        }
    }
    .burgerActive {
        &:before {
            top: 1px;
            transform: rotate(45deg);
        }
        &:after {
            top: -2px;
            transform: rotate(-45deg);
        }
    }

    &:global(.button_animation) {
        animation: wave 3s linear infinite !important;
    }
}

@keyframes wave {
    20% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
    }
    40% {
        border-radius: 47% 58% 49% 51% / 36% 53% 49% 49%;
    }
    60% {
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }
    80% {
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}
.ripple {
    position: absolute;
    border: solid 4px black;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    width: 100%;
    z-index: 1;
    height: 100%;
    animation: rippleEffect 0.8s 1;
    opacity: 0;
}
@keyframes rippleEffect {
    0% {
        opacity: 0.6;
    }
    100% {
        width: 150%;
        height: 150%;
        border-width: 0px;
        opacity: 0;
    }
}
@media screen and (min-width: 800px) {
    .header {
        .menu {
            display: none;
        }
    }
}
@media screen and (max-width: 800px) {
    .header {
        padding: 15px 30px;
        .logo {
            max-width: 80px;
        }
        .nav {
            display: none;
        }
    }
    .containerButton {
        width: 65px;
        height: 65px;
    }
}
@media screen and (max-width: 450px) {
    .header {
        .logo {
            max-width: 60px;
        }
    }
}
