@import '../../app/page.module';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $beige;
    min-height: 100vh;
    .salonContainer {
        max-width: 1000px;
        z-index: 1 !important;
        position: relative;
        .salon {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 10px;
            grid-gap: 20px;
            position: relative;
            padding: 200px 50px;
            box-sizing: border-box;
            z-index: 5;
            img {
                background-color: transparent;
            }

            .row {
                display: contents; // Ceci permet aux colonnes de s'aligner directement sur la grille parent

                .col {
                    background-color: #fff;
                    width: 100%;
                    height: 400px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .title {
                        font-size: 50px;
                        line-height: 55px;
                    }
                }
            }
            .row:first-child {
                .col:nth-child(1) {
                    grid-column: span 2;
                    border-radius: 150px 0 150px 0;
                    background-color: $main-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Rouge Script", serif';
                    font-size: 60px;
                    text-align: center;
                    color: $beige-light;
                    padding: 0 20px;
                    box-sizing: border-box;
                }
                .col:nth-child(2) {
                    grid-column: span 3;
                    border-radius: 0px 0 0px 150px;
                }
                .col:nth-child(3) {
                    grid-column: span 3;
                    border-radius: 0px 200px 0px 0;
                }
            }
            .row:last-child {
                .col:nth-child(1) {
                    grid-column: span 3;
                    border-radius: 0px 0px 0px 200px;
                }
                .col:nth-child(2) {
                    grid-column: span 5;
                    border-radius: 0px 250px 0px 0;
                }
                // Supprimer le troisième col du JSX car il n'est pas nécessaire
            }
        }
        #shape6 {
            width: 250px;
            height: auto;
            position: absolute;
            bottom: 130px;
            left: -80px;
        }
        #plant4 {
            width: 250px;
            height: auto;
            position: absolute;
            bottom: 30px;
            left: -100px;
            transform: rotate(-60deg);
        }
    }
}
@media (max-width: 800px) {
    .container {
        .salonContainer {
            .salon {
                .row {
                    .col {
                        .title {
                            font-size: 40px;
                            line-height: 35px;
                        }
                        height: 300px;
                    }
                }
                .row:first-child {
                    .col:nth-child(1) {
                        border-radius: 100px 0 100px 0;
                    }
                    .col:nth-child(2) {
                        border-radius: 0px 0 0px 100px;
                    }
                    .col:nth-child(3) {
                        border-radius: 0px 150px 0px 0;
                    }
                }
                .row:last-child {
                    .col:nth-child(1) {
                        border-radius: 0px 0px 0px 150px;
                    }
                    .col:nth-child(2) {
                        grid-column: span 5;
                        border-radius: 0px 200px 0px 0;
                    }
                    // Supprimer le troisième col du JSX car il n'est pas nécessaire
                }
            }
            #shape6 {
                width: 150px;
                bottom: 142px;
                left: 35px;
            }
            #plant4 {
                width: 150px;
                height: auto;
                bottom: 67px;
                left: 26px;
            }
        }
    }
}
@media (max-width: 600px) {
    .container {
        min-height: unset;
        padding: 50px 0;

        .salonContainer {
            .salon {
                padding: 100px 20px;
                .row {
                    .col {
                        height: 200px;
                        .title {
                            font-size: 30px;
                            line-height: 25px;
                        }
                    }
                }
                .row:first-child {
                    .col:nth-child(1) {
                        border-radius: 50px 0 50px 0;
                        padding: 0 10px;
                    }
                    .col:nth-child(2) {
                        border-radius: 0px 0 0px 50px;
                    }
                    .col:nth-child(3) {
                        border-radius: 0px 100px 0px 0;
                    }
                }
                .row:last-child {
                    .col:nth-child(1) {
                        border-radius: 0px 0px 0px 100px;
                    }
                    .col:nth-child(2) {
                        border-radius: 0px 100px 0px 0;
                    }
                }
            }
            #shape6 {
                width: 120px;
                bottom: 26px;
                left: 28px;
            }
            #plant4 {
                width: 150px;
                height: auto;
                bottom: -51px;
                transform: rotate(-93deg);
                left: 26px;
            }
        }
    }
}
@media (max-width: 450px) {
    .container {
        .salonContainer {
            .salon {
                .row {
                    .col {
                        height: 150px;
                        .title {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }
                }
                .row:first-child {
                    .col:nth-child(1) {
                        border-radius: 25px 0 25px 0;
                    }
                    .col:nth-child(2) {
                        border-radius: 0px 0 0px 25px;
                    }
                    .col:nth-child(3) {
                        border-radius: 0px 50px 0px 0;
                    }
                }
                .row:last-child {
                    .col:nth-child(1) {
                        border-radius: 0px 0px 0px 50px;
                    }
                    .col:nth-child(2) {
                        border-radius: 0px 50px 0px 0;
                    }
                }
            }
        }
    }
}
