@import '../../app/page.module';

.salon {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 75px;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
    background-image: url('/assets/background_jungle.png');
    .title {
        font-family: 'Bethany';
        font-size: 20vw;
        font-weight: normal;
        text-align: start;
        align-self: center;
        position: relative;
        padding: 13vw 0;
        filter: invert(1);
    }
    #accueil {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        float: right;
        .image {
            width: 50%;
            height: auto;
            position: relative;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(6%, -80%);
            width: 27%;
            height: auto;

            path {
                fill: $dark-green !important;
            }
        }
    }
    #manucure {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .image {
            width: 40%;
            height: auto;
        }
    }
    #pedicure {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        .image {
            width: 40%;
            height: auto;
        }
    }
}
@media screen and (max-width: 800px) {
    .salon {
        padding: 0 35px;
        #accueil {
            .image {
                width: 60%;
                padding: 50px 0;
            }
        }
        #manucure {
            .image {
                width: 50%;
                padding: 50px 0;
            }
        }
        #pedicure {
            .image {
                width: 45%;
                padding: 50px 0;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .salon {
        #accueil {
            .image {
                width: 80%;
                padding: 25px 0;
            }
        }
        #manucure {
            .image {
                width: 70%;
                padding: 25px 0;
            }
        }
        #pedicure {
            .image {
                width: 60%;
                padding: 25px 0;
            }
        }
    }
}
