@import '../../../app/page.module';
.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: $grey;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: -1;

    .container {
        display: flex;
        flex-direction: column;
        gap: 6vh;
        align-items: center;
        padding: 125px 0 0 0;
        width: 370px;
        opacity: 0%;
        transition: 0.8s;
        .logo {
            margin-bottom: 25px;
        }
        .linkContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            a,
            a:visited {
                text-decoration: unset;
                color: rgb(255, 255, 255);
                font-size: 40px;
                font-weight: 900;
                position: relative;
                font-family: 'Bethany';
            }
            &:hover {
                cursor: pointer;
            }

            .buttonbg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
