@import '../../../app/page.module';
.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #2d2722;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: -1;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        margin-top: 200px;
        opacity: 0%;
        transition: 0.8s;
        gap: 50px;
        #card {
            transform: rotate(5deg);
            // .title {
            //     font-size: 100px;
            //     width: 100%;
            //     font-weight: 400;
            //     text-align: center;
            //     font-family: 'Bethany';
            //     color: rgb(0, 0, 0);
            //     margin: 20px 0;
            //     padding: 10px 10px;
            //     background-image: url('/svg/buttonbg.svg');
            //     background-size: contain;
            //     background-position: center;
            //     background-repeat: no-repeat;
            // }
            .links {
                width: 100%;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: space-between;
                &::after {
                    content: '';
                    position: absolute;
                    height: 150%;
                    margin: auto;
                    right: 48%;
                    border-right: 1px solid #6e6e6e;
                }
                .linkContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    a,
                    a:visited {
                        text-decoration: unset;
                        color: rgb(0, 0, 0);
                        font-size: 35px;
                        font-weight: 400;
                        width: 100%;
                        text-align: center;
                        position: relative;
                        -transform: uppercase;
                        font-family: 'Luimp';
                        padding: 0;
                        position: relative;
                        transition: 0.3s;
                        z-index: 9;
                        &:hover {
                            color: $main-color;
                        }
                    }

                    // .buttonbg {
                    //     position: absolute;
                    //     height: auto;
                    //     transition: 0.3s;
                    //     transform: rotate(8deg);
                    //     z-index: 1;
                    //     scale: 0.1;
                    //     opacity: 0;
                    // }
                    // &:hover .buttonbg {
                    //     scale: 1 !important;
                    //     opacity: 1;
                    // }
                }
            }
            .plant {
                position: absolute;
                bottom: -45px;
                right: -16px;
                transform: rotate(-65deg);
            }
            .shape {
                position: absolute;
                bottom: -120px;
                right: -21px;
            }
        }
    }
}
