.duo {
    max-width: 1600px;
    width: 100%;
    min-height: 100vh;
    padding: 0 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    box-sizing: border-box;

    .description {
        padding: 50px 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        p {
            max-width: 500px;
            width: 100%;
            font-size: 24px;
        }
    }
    .images {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        .nail {
            position: absolute;
            width: 25vw;
            max-width: 400px;
            height: auto;
            bottom: 50%;
            right: -90%;
            opacity: 0;
            transform-origin: center bottom;
        }
        #pink {
            bottom: 55%;
        }
        #green {
            bottom: 45%;
        }
        #photo {
            display: block;
        }
    }
}
@media screen and (max-width: 1200px) {
    .duo {
        .images {
            .nail {
                right: -110%;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .duo {
        padding: 0 35px;
        flex-direction: column-reverse;
        margin: 50px auto;
        .description {
            align-items: center;
            p {
                text-align: center;
                font-size: 20px;
            }
        }
        .images {
            height: 700px;
            .nail {
                width: 33vw;
                right: -45%;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .duo {
        .images {
            height: 50vh;
            .nail {
                width: 35vw;
                right: -55%;
            }
        }
    }
}
